<style>
    div {
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

    body {
        background-color: darkturquoise;
    }

img {
    margin-left: 30%;
    margin-right: 30%;
    height: 500px;
    widows: 500px;
}
</style>
